{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="about3">
    <div class="inner-section3">
        <h1>About Us</h1>
        <p class="text1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Doloribus velit ducimus, enim inventore earum, eligendi 
            nostrum pariatur necessitatibus eius dicta a voluptates sit 
            deleniti autem error eos totam
             nisi neque voluptates sit deleniti autem error eos totam nisi neque.
        </p>
        <div class="skills">
        </div>
    </div>
</div>
{% endblock %} 
