{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="about3">
    <div class="inner-section3">
        <h1>About Us</h1>
        <p class="text1">
           My Website(Rhythm) learning a musical instrument isn’t just about learning a new skill or building up your artistic repertoire, learning an instrument is also really good for improving key cognitive functions such as your memory. Perhaps the saying should be ‘a musician never forgets’!?
           Musical instruments are almost universal components of human culture: archaeology has revealed pipes and whistles in the Paleolithic Period and clay drums and shell trumpets in the Neolithic Period. It has been firmly established that the ancient city cultures of Mesopotamia, the Mediterranean, India, East Asia, and the Americas all possessed diverse and well-developed assortments
            of musical instruments, indicating that a long previous development must have existed. 


        </p>
        <div class="skills">
        </div>
    </div>
</div>
{% endblock %} 
