{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog1</title>
</head>
<body>
    <section class="container sproduct my-5 pt-5">



        <h3 class="row justify-content-center py-4">8 reasons why playing guitar is good for your mental health</h3>
    
        <div class="col-lg-12 col-md-12 col-12">
    
            <div class="row col-lg-12 col-md-12 col-12 justify-content-center">
    
                <img style="width: 50%; height: 50%;align-items: center;" class="img-fluid pb-5" id="MainImg" src="/static/images/blog2.jpeg" alt="Main Image">
    
            </div>
    
            <h2 class="mt-5 mb-5">From strengthening your sense of wellbeing to boosting your creativity and confidence</h2>
    
            <p>"Being able to play that first song on a guitar is quite a defining moment and people feel a real sense of pride.”

                From the first chord you learn, then, the guitar is something that will never leave you. 
                
                Kelly Jones from the Stereophonics explains it like this: “I always remember my old man saying to me, ‘If you have a guitar you’ll never be alone’ and I thought that was a very dramatic thing to say, but now that I’m 43 I’d be fucked without that thing. 
                
                "Because it’s the one thing you can rely on every day. No matter what’s going on, you pick that up and all of a sudden everything feels all right.”
            </p>
    
        </div>
    
    
    
        </div>
    
    
    
    </section>
</body>
</html>

{% endblock %} 