
{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog4</title>
</head>
<body>
    <section class="container sproduct my-5 pt-5">



        <h3 class="row justify-content-center py-4">How to Play Guitar – The Ultimate Guide</h3>
    
        <div class="col-lg-12 col-md-12 col-12">
    
            <div class="row col-lg-12 col-md-12 col-12 justify-content-center">
    
                <img style="width: 50%; height: 50%;align-items: center;" class="img-fluid pb-5" id="MainImg" src="/static/images/blog4.jpeg" alt="Main Image">
    
            </div>
    
            <h2 class="mt-5 mb-5">Want to learn how to play the piano? You’ve come to the right place!</h2>
    
            <p>With 88 keys, a rich history, and many associated celebrities, the piano can be an intimidating instrument. But it’s also an accessible one. Anyone can learn the piano at any age and have hours of fun on it.

                This comprehensive series will take you from never touching the piano to playing your first chords and first song. You’ll also learn fundamental skills, good habits, and some shopping tips</p> </br>
                The notes on this keyboard are grouped into 6 groups of 12 notes. Each group consists of 7 white keys and 5 black keys. Look at the graphic above – the group is repeated to the left and right several times. Each group starts with a “C” note (see mark), which is located to the left of two consecutive black keys.﻿

Let’s take a closer look at the “C” notes. Remember how you can find them on the keyboard? They are always to the left of a pair of black keys. This is important to remember, because before playing any song you have to find the “C” on the keyboard first.

Exercise: As a little exercise, try to find all “C” notes on the keyboard.

Since it might be a bit difficult to find the “C” notes at the beginning, just concentrate on middle “C” for now. As the name suggests, it is located at the middle of the keyboard, right in front of you when you sit at the piano. Take a look at the picture above. You will see lines, symbols and numbers. This is a notation system. Middle “C” is located in the middle of this, as well.

If music is a language, the notation system is like written text. Like any language, music is based on rules and uses special symbols. The notation defines which notes have to be played at a certain point in time. The above score shows a note – middle “C”. Let’s get to know some more notes in the notation system and learn how they relate to the keyboard.

Here you can see further “C” notes and how they are represented in the notation system.
    </p>
    
        </div>
    
    
    
        </div>
    
    
    
    </section>
</body>
</html>

{% endblock %} 