{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog2</title>
</head>
<body>
    <section class="container sproduct my-5 pt-5">



        <h3 class="row justify-content-center py-4">The Importance of Music in Our Society</h3>
    
        <div class="col-lg-12 col-md-12 col-12">
    
            <div class="row col-lg-12 col-md-12 col-12 justify-content-center">
    
                <img style="width: 50%; height: 50%;align-items: center;" class="img-fluid pb-5" id="MainImg" src="/static/images/blog3.jpeg" alt="Main Image">
    
            </div>
    
            <h2 class="mt-5 mb-5">Art and music are basic human functions</h2>
    
            <p>Humankind and art cannot function without one another. We have the burning desire to create, whatever it may be and however tiny or grand. The interaction with sound is unavoidable, either to make it or take pleasure in it. People have always found music significant in their lives, whether for enjoyment in listening, the emotional response, performing, or creating. This is no different for classical music or contemporary concert music. Both musics have immense worth for our society; however, the problem we all know in this field is that this music is little known and hence underappreciated. As a musician and artist it is my responsibility that others can learn to enjoy the art for which I have utter passion.

                It goes without saying that in mainstream American culture, classical or concert music is not a huge part of people's lives. There are still stigmas that contribute to this, as well as the practices of the government in the last two decades (declining music education in schools on the local level, resistance to increased NEA funding and less visibility of the arts on the national level; let us hope that the Obama administration can start to reverse these trends). Many people may still believe that classical music is for the rich, older, and the well-educated. Others may feel awkward about going to classical music events because they feel as if they need to act and dress
                 a certain way in order to enter the concert or recital hall. Even more, the pretentiousness and elitism that some 
                 artists exhibit is amplified by some television shows, commercials, plays, books, by people of influence and even 
                 themselves, which distance musicians from mainstream society</p>
    
        </div>
    
    
    
        </div>
    
    
    
    </section>
</body>
</html>

{% endblock %} 