
{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="listing-hero">
      <div class="hero-heading">
          <div class="hero-large">Contact Us</div>
          <div class="hero-text"> <i>Got any Questions? Feel free to ask or visit  FAQ page </i> </div>       
        </div>
    </div>
  
  <div class="container-contact">
        {% if message_name %}

        <section>

        <h2 style="text-align: center;">

            Thanks {{ message_name}}!

        </h2>



        <p style="text-align: center;">

            we received your email and will respond shortly...

        </p>

        </section>

    {% else %}  
  
        <!-- <form name="contact" class="contact-form validate-form" method="post" action= "contact-form-handler.php"> -->
          <div class="wrap-contact">
            
          <form method="POST" enctype="multipart/form-data" action="{% url 'contact' %}">

            {% csrf_token %}
          <div class="wrap-input validate-input" data-validate="Please enter your name">
            <input class="input" type="text" name="message_name" placeholder="Full Name">
          </div>
  
          <div class="wrap-input validate-input" data-validate = "Please enter your email">
            <input class="input" type="text" name="message_email" placeholder="E-mail">
          </div>
  
          <div class="wrap-input validate-input" data-validate = "Please enter your message">
            <textarea class="input" type="text" name="message" placeholder="Your Message"></textarea>
          </div>
  
          <div class="container-contact-form-btn">
            <button type="submit" class="contact-form-btn">
              <span>Send</span>
            </button>
          </div>
  
          <div class="grid-container">
            <div class="item1 left-align"><i class="fa fa-lg fa-map-marker-alt"></i> kathmandufa-inverse</div>  
            <div class="item4 right-align"><i class="fa fa-lg fa-phone"></i> +98048492984<br>874548787638</div>
  
        </div>
  
        </form>
  
      </div>
    </div>
  </div>
  
  </div>
  {% endif %}
  {% endblock %} 

  

  