{% load static %}

<footer style="background-color: #D9D7F1;">
    <h1 style="margin-left: 530px; font-size: 40px; margin-top: 220px; color: #fff;">
      This is admin dashboard </h1> <br>

      <p style="color: #D9D7F1;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugit unde illo quis ullam suscipit consequatur totam recusandae 
      incidunt exercitationem debitis, accusantium nobis minima maiores architecto vitae perferendis nam? Repellendus! <br>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore dolores distinctio, iusto maiores repellendus, explicabo voluptas atque eius ea
       laboriosam impedit consequatur? Optio accusantium corrupti voluptates, aut laborum eum perspiciatis? <br>
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut quas officia minima rem quis temporibus, id delectus cum, veritatis 
       natus molestias quisquam odit voluptatem cupiditate necessitatibus officiis autem? Nobis, dolores. <br>
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor eligendi velit laudantium in eum. Consectetur, quasi. Ipsam non expedita magnam assumenda excepturi necessitatibus, 
       consequuntur possimus iure. Hic obcaecati facilis <br>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime consequatur odit nulla deleniti vel nesciunt, explicabo rem assumenda, sunt quod minima praesentium 
       reiciendis aspernatur pariatur magni quam incidunt quo a.
    </p>

    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div style="color:#D9D7F1;" class="wow fadeInUp footer-copyright">
          </div>
        </div>
      </div>
    </div>
  </footer>