<section class="footer" style="background-image: url('/static/images/signbackground.jpeg')">

    <div class="box-container">

        <div class="box">
            <h3>Locations</h3>
            <a href="#">  Baneshwor </a>
            <a href="#"> Gyaneshwor</a>
            <a href="#">  Lalitpur </a>
            
        </div>

        <div class="box">
            <h3>Links</h3>
            <a href="#">  home </a>
            <a href="#"> featured </a>
            <a href="#">  arrivals </a>
            <a href="#">  reviews </a>
            <a href="#"> blogs </a>
        </div>

       

        <div class="box">
            <h3>contact Information</h3>
            <a href="#">  +9807966463 </a>
            <a href="#">  Samitalimbu396@gmail.com </a>
            
        </div>
        
    </div>


</section>

<!-- footer section ends -->
